/* Landing Page */
#container {
    margin: 50px 100px auto 100px;
}
.title-styling{
    font-family: 'Oswald', sans-serif;
    background-color: #3C275A;
    color: white;
    border: 1px solid #D6A800;
    padding: 10px;
}
.landing-text{
    font-family: 'Oswald', sans-serif;
}
.landing-link{
    color: #453674;
    font-family: 'Oswald', sans-serif;
}
.landing-link:hover {
    background-color: #D6A800;
    color: #4F3674; 
}
.landing-link:visited{
    color: #3C275A;
}

/* Excercise 2.2 - Hello JavaScript */
.return-home{
    color: #4F3674;
    text-decoration: none;
}
.return-home:hover{
    background-color: #D6A800;
}
.return-home:visited{
    color: #3C275A;
}
